* {
    background-color: #dfdbc6;
}

body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #3F3F3F;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

p {
    display: inline-block;
    padding: 2em;
    padding-bottom: 2em;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

img {
    height: 30em;
    width: 30em;
    padding: 5em;
    padding-bottom: 3em;
    padding-top: 3em;
}

.cover {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cover_obj {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.cover_obj {
    padding: 5em;
}

.links {
    display: flex;

    justify-content: center;
    align-items: center;
}

.links img {
    height: 2em;
    width: 2em;
    padding: 1em;
}

.about {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#pronouns {
    font-size: 16px;
}